/* BASIC Configuration */
body {
	background-color: lightgrey;
}

h1 {
	font-family: 'Teko', sans-serif;
}

h2, h3, h4, h5, h6 {
	font-family: 'Jaldi', sans-serif;
}

p {
	font-size: 0.75em;
}

small {
	font-size: 0.5em;
	color: grey;
}
/* ================= */


/* HZ Classes */
.hz-title {
	height: 70px;
	background-color: #292929;
}

.hz-main-title {
	font-weight: 700;
	font-size: 0.8em;
	color: white;
}

.hz-jaldi {
	font-family: 'Jaldi', sans-serif;
}

.hz-white {
	color: white;
}

.hz-green {
	background-color: #084C61;
}
.hz-green:hover {
	background-color: #0b4354;
}
.hz-green-s {
	background-color: #0c799a;
}

.hz-red {
	background-color: #DB3A34;
}
.hz-red:hover {
	background-color: #a4231f;
}
.hz-red-s {
	background-color: #ff423b;
}

.hz-yellow {
	background-color: #e6ae3d;
}
.hz-yellow:hover{
	background-color: #bf902f;
}
.hz-yellow-s {
	background-color: #ffc145;
}

.hz-menu {
	/* border-bottom: 0.5px solid #515151; */
}

.hz-menu-button {
	height: 40px;
	line-height: 40px;
	position: relative;
	top: 50%;
}

.hz-reveal-child {
	height: 300px;
	padding-top: 10px;
}

.hz-img-radius {
	border-radius: 180px;
	border: 5px solid white;
}

.hz-img {
	border: 5px solid white;
}

.hz-width-small {
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 5px;
}

.hz-featured-stories {
	background-color: #f4f4f4;
}

.hz-featured-lp {
	background-color: lightblue;
}

.hz-big-icon {
	font-size: 90px;
}

.hz-icon-blue {
	color: #009aff;
}

.hz-lp-card {
	box-shadow: 0px 0px 0px rgba(131, 131, 131, 0.88);
		-webkit-transition: all 0.3s ease; /* Safari */
    transition: all 0.3s ease-in;
}

.hz-lp-card:hover {
	box-shadow: 0px 0px 5px rgba(131, 131, 131, 0.88);
	background-color: #e0f7ff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.hz-card-link {
	padding-right: 12px;
	line-height: 5px;
}


/* ================= */


/* Button Configuration */
button.radius, .button.radius {
    border-radius: 3px; 
    }

button.round, .button.round {
    border-radius: 1000px; 
    }
/* ================= */